.ContactPage .card-container {
    background-color: White;
    border-radius : 8px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    box-shadow: 5px 5px 5px grey;
    transition: 0.5s;
}

.ContactPage .profile-container {
    background-color: White;
    border-radius : 8px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    box-shadow: 5px 5px 5px grey;
    transition: 0.5s;
}

.ContactPage .card-container .pic img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #eaeaea;
    object-fit:  cover;
    transition: 0.5s;
}

.ContactPage .profile-container .pic img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #eaeaea;
    object-fit:  cover;
    transition: 0.5s;
}

.ContactPage .card-container:hover{
    transform:scale(1.05);
}

.AuthPage h1{
    font-Size: 48px; 
    margin: 0.5rem 0;
    text-align: center;
}

.TodoPage h1{
    font-Size: 48px; 
    margin: 0.5rem 0;
}

.CreatePage h1{
    font-Size: 48px; 
    margin: 0.5rem 0;
}

.ContactPage .gif-container{
    background-color: White;
    border-radius : 8px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 2rem;
    box-shadow: 5px 5px 5px grey;
    transition: 0.5s;
}

.item-m {
    padding: 5px;
    width: 50px;
    transition: 0.5s;
}

.item-s {
    padding: 5px;
    width: 45px;
    transition: 0.5s;
}

.item-l {
    padding: 5px;
    width: 55px;
    transition: 0.5s;
}

.item-m:hover {
    transform:scale(1.3);
}

.item-s:hover {
    transform:scale(1.3);
}

.item-l:hover {
    transform:scale(1.3);
}

.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .auth-loading{
    position: fixed;
    top: 75%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    opacity: 0.5;
  
  }